services:
  tails-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.tails-server
    ports:
      - "6543:6543"
    networks:
      - tails-server
    environment:
      - STORAGE_PATH=/tails-files
      - LOG_LEVEL=info
      - LOGGING_CONFIG=/tails_server/config/logging-config.yml
    volumes:
      - ./tails:/tails-files
    command: >
      tails-server
        --host 0.0.0.0
        --port 6543
        --storage-path /tails-files
        --log-level info

  tester:
    build:
      context: ..
      dockerfile: docker/Dockerfile.test

networks:
  tails-server:
